<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
 <!--(titulo da pagina)-->
  <h1 style="text-align:center">
    <div height="100" style="background-color: blue;line-height: 100px;text-align: center;">
        <p style="color: white">Curriculo Online de Ricardo Steinke</p>
    </div>
     <!--(link para linkedin)-->
  </h1>
  <a href="http://www.linkedin.com/in/ricardo-steinke/" target="_blank">
    <div height="0" style="background-color: white;line-height: 30px;text-align: center;">
        <p style="color: rgb(71, 71, 71)">Link para LinkedIn</p>
    </div>
</a>


  <div class="mt-5">
<!-- configura o tipo de navegação do bootstrap botoes/links em abas -->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-sobre-tab" data-bs-toggle="tab" data-bs-target="#nav-sobre" type="button" role="tab" aria-controls="nav-sobre" aria-selected="true">SOBRE MIM</button>
          <button class="nav-link" id="nav-formacao-tab" data-bs-toggle="tab" data-bs-target="#nav-formacao" type="button" role="tab" aria-controls="nav-formacao" aria-selected="false">FORMAÇÃO EDUCACIONAL</button>
          <button class="nav-link" id="nav-portfolio-tab" data-bs-toggle="tab" data-bs-target="#nav-portfolio" type="button" role="tab" aria-controls="nav-portfolio" aria-selected="false">PORTFÓLIO PESSOAL</button>
          <button class="nav-link" id="nav-contato-tab" data-bs-toggle="tab" data-bs-target="#nav-contato" type="button" role="tab" aria-controls="nav-contato" aria-selected="false">CONTATO</button>

        </div>
      </nav>

    </div>

    <div class="tab-content" id="myTabContent">
<!-- parte "sobre mim da página" -->
      <div class="container tab-pane fade show active" id="nav-sobre" role="tabpanel" aria-labelledby="nav-sobre-tab">
        <br>
        <!-- título e estilo -->
        <h2 style="text-align:center">SOBRE MIM (RESUMO)</h2>
        <br>
           <!-- conteúdo -->
        <p>
          Sou projetista mecânico pleno, com mais de 13 anos de experiência, e tenho conhecimentos em engenharia de
          produtos e equipamentos hidráulicos.
        </p>

        <p>
          Tenho habilidades de trabalhar com diferentes tarefas ao mesmo tempo cumprindo prazos e metas determinadas.
          Sou um profissional analítico e detalhista e com isso sou capaz de desenvolver atividades com qualidade e
          também identificar causas e solucionar problemas. Atuo com comunicação clara e objetiva e assim consigo
          oferecer um bom entendimento para gestão, para suporte técnico das áreas envolvidas e para transmitir
          conhecimento.
        </p>
        <p>
          Realizei desenvolvimento de produtos seriados, customizados e totalmente especiais e isso me permiti otimizar
          processos de fabricação, reduzindo custos e fortalecendo uma produção enxuta.
        </p>
        <p>
          Possuo domínio nos softwares Creo Parametric e AutoCAD.
        </p>

      </div>
   <!-- parte "formação educacional da página" -->
      <div class="container tab-pane fade" id="nav-formacao" role="tabpanel" aria-labelledby="nav-formacao-tab">
        <br>
        <!-- título e estilo -->
          <h2 style="text-align:center">FORMAÇÃO EDUCACIONAL E IDIOMAS</h2>
          <br>
          <h2>Formação Educacional</h2>
                  <!-- tabela da formação educacional -->
          <table class="table">
             <thead>
              <tr>
               <th>Graduação</th>
               <th>Instituição</th>
                <th>Período</th>
              </tr>
              </thead>
              <tbody>
              <tr>
               <td>Tecnologia em Ciência de dados</td>
               <td>Uninter</td>
               <td>2022-em andamento</td>
              </tr>
              <tr>
               <td>Engenharia Elétrica</td>
               <td>Furb</td>
               <td>2010-2015</td>
             </tr>
             <tr>
              <td>Tecnólogo em Processos Industriais</td>
              <td>Furb</td>
              <td>2002-2006</td>
             </tr>
             </tbody>
            </table>
          <br>
         <!-- lista não numerada de idiomas -->
             <h2>Idiomas</h2>
            <ul>
              <li>Português: Fluente</li>
              <li>Inglês: Fluente</li>
              <li>Alemão: Básico</li>
            </ul>



      </div>
         <!-- parte do pórtifólio -->
      <div class="container tab-pane fade" id="nav-portfolio" role="tabpanel" aria-labelledby="nav-portfolio-tab">
        <br>
                 <!-- título e estilo -->
        <h2 style="text-align:center">PORTFÓLIO PESSOAL (PROJETOS EXECUTADOS)</h2>
        <br>
       <!-- conteúdo -->
        <p>ÁREA EM DESENVOLVIMENTO</p>

      </div>

     <!-- parte do formulário de contato -->
      <div class="container tab-pane fade" id="nav-contato" role="tabpanel" aria-labelledby="nav-contato-tab">
        <br>
        <!-- título e estilo -->
        <h2 style="text-align:center">FORMULÁRIO PARA CONTATO:</h2>
        <br>
       <!-- início do formulário de contato -->



        <form class="formulario" method="post" action="">
          <p> Preencha os seus dados e a sua mensagem</p>

          <div class="field">
              <label for="nome">Digite o seu Nome:   </label>       <!-- ETIQUETA DO NOME -->
              <input type="text" id="nome" name="nome" placeholder="Digite seu nome*" required>      <!-- DADO DE ENTRADA  NOME / TEXTO E INSTRUÇÃO DENTRO DA CAIXA -NECESSÁRIO-->
          </div>
          <div class="field">
              <label for="telefone">Digite o seu Telefone:</label>       <!-- ETIQUETA DO TELEFONE -->
              <input type="text"  id="telefone" name="telefone" placeholder="Digite seu Telefone*">     <!-- DADO DE ENTRADA  TELEFONE / TEXTO E INSTRUÇÃO DENTRO DA CAIXA  -->
          </div>
              <div class="field">
              <label for="email">Digite o seu E-Mail:</label>       <!-- ETIQUETA DO EMAIL -->
              <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>      <!-- DADO DE ENTRADA  EMAIL / TEXTO E INSTRUÇÃO DENTRO DA CAIXA -NECESSÁRIO-->
              </div>
              <div class="field">
              <label for="mensagem">Digite sua mensagem:</label>       <!-- ETIQUETA DO CAIXA DE TEXTO -->
              <textarea name="mensagem" id="mensagem" placeholder="Mensagem*" required></textarea>      <!-- DADO DE ENTRADA  TEXTO MSGO E INSTRUÇÃO DENTRO DA CAIXA -NECESSÁRIO-->
              </div>
              <div class="field">
              <input type="submit" name="acao" value="Enviar">       <!-- BOTÃO ENVIA DADOS-->
          </div>
      </form>
       </div>

      </div>


</body>
</html>
